	.wg-music-box {
		display: inline-block;
	    border: 3px solid #000000;
	    padding: 5px;
	    border-radius: 30px;
	    position: fixed;
	    bottom: 0;
	    z-index: 500;
	    margin: 15px;
	    background: rgba(255, 255, 255, 0.56);
	}
	
	.wg-music-box.play, .wg-music-box:HOVER { 
		background: rgba(182, 188, 185, 0.52);
	}
	
	.wg-music-box a {
		height: 45px;
	    display: inline-block;
	    font-size: 25px;
	    color: #565353;
	    margin-left: 5px;
	    text-decoration: none;
	    border-bottom: none;
	    padding-top: 13px;
	    float: left;
	} 
	.wg-music-box.play a{
		color:#000000;
	}
	
	.wg-music-box img{
		opacity: 0.5 !important; ;
		-moz-opacity:0.5 !important;; 
		-khtml-opacity: 0.5 !important;;
		filter:alpha(opacity=50);
		float: left;
	}
	
	.wg-music-box.play img{
		opacity: 1 !important; ;
		-moz-opacity:1!important;; 
		-khtml-opacity: 1 !important;
		filter:alpha(opacity=100) !important;
	}