/* body { padding-top: 50px; } */
.header { display: table;width: 100%;vertical-align: middle; margin-bottom: 15px;}
.header-t {     width: 50%;  display: table-cell; }
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}